image @IMAGE@ {
	rauc {
		file root.tar.gz { image = "root.tgz" }
		manifest = "
			[update]
			compatible=@RAUC_BUNDLE_COMPATIBLE@
			version=@RAUC_BUNDLE_VERSION@
			build=@RAUC_BUNDLE_BUILD@
			description=@RAUC_BUNDLE_DESCRIPTION@

			[image.rootfs]
			filename=root.tar.gz
			"
		cert = "@RAUC_CERT@"
		key = "@RAUC_KEY@"
	}
}
