flash flash {
    pebsize = @PEB_SIZE@
    minimum-io-unit-size = @MINIMUM_IO_UNIT_SIZE@
    sub-page-size = @SUB_PAGE_SIZE@
    vid-header-offset = @VID_HEADER_OFFSET@
    lebsize = @LEB_SIZE@
}

image @IMAGE@ {
    ubifs {
        extraargs = "-v"
        max-size = @MAX_SIZE@
    }
    flashtype = "flash"
    name = "root"
}
