mouse none
# mouse Microsoft
# mouse MouseSystems
# mouse MMSeries
# mouse Logitech
# mouse Busmouse
# mouse PS2
# mouse MouseMan
# mouse Spaceball
# mouse IntelliMouse
# mouse IMPS2
# mouse pnp
# mouse WacomGraphire
# mouse DRMOUSE4DS
# mouse unconfigured

# mouse_accel_type	normal
mouse_accel_type	power
# mouse_accel_type	off
mouse_accel_mult	60
mouse_accel_thresh	4
mouse_accel_power	0.8
mouse_accel_offset	30
# mouse_accel_maxdelta	600
# mouse_maxdelta	30
# mouse_force
# mdev /dev/ttyS0
# setRTS
# clearRTS
# leaveRTS
# setDTR
# clearDTR
# leaveDTR

mouse_wheel_steps 18
# mouse_wheel_steps 24
# mouse_wheel_steps -18
# mouse_wheel_steps 0

# kbd_keymap /etc/vga/dvorak-us.keymap
kbd_only_root_keymaps
# kbd_fake_mouse_event 97 down deltay off up deltay on
# kbd_fake_mouse_event 97 down button1 pressed up button1 released

HorizSync 31.5 35.5
VertRefresh 50 90

# chipset VESA
chipset FBDEV

colortext

