/config.log
/config.status
/configure
/autom4te.cache/
/aclocal.m4
/Makefile
/.done
/.tarball-version

*.orig
*.swp
*~
\#*#
.\#*

logfile

scripts/kconfig/conf
scripts/kconfig/conf.o
scripts/kconfig/lex.zconf.c
scripts/kconfig/lkc_defs.h
scripts/kconfig/mconf
scripts/kconfig/nconf
scripts/kconfig/zconf.hash.c
scripts/kconfig/zconf.tab.c
scripts/kconfig/*.o
scripts/kconfig/lxdialog/*.o

/bin/*
!/bin/ptxdist
