config.log
config.status
configure
logfile
autom4te.cache/

Makefile
.done

*.orig
*.swp
*~
\#*#
.\#*

platforms/ptxdist-version.in
rules/ptxdist-version.in
rules/logfile

scripts/ptxdist_version.sh
scripts/kconfig/conf
scripts/kconfig/conf.o
scripts/kconfig/lex.zconf.c
scripts/kconfig/lkc_defs.h
scripts/kconfig/mconf
scripts/kconfig/zconf.hash.c
scripts/kconfig/zconf.tab.c
scripts/kconfig/*.o
scripts/kconfig/lxdialog/*.o
