[Unit]
Description=Network Manager configuration (ignore kernel activated network interfaces)
Before=NetworkManager.service
ConditionPathExists=!/var/run/NetworkManager.conf

[Service]
Type=oneshot
ExecStart=/lib/init/nm-unmanage.sh

[Install]
WantedBy=NetworkManager.service
