[Unit]
Description=Precision Time Protocol (PTP) service
BindsTo = sys-subsystem-net-devices-eth0.device
After = sys-subsystem-net-devices-eth0.device

[Service]
Type=simple
ExecStart=/usr/sbin/ptp4l -i eth0
Restart=always

[Install]
WantedBy=multi-user.target
