# mainmenu "RTAI/MIPS configuration"

config RTAICFG_MODULES
	bool
	default y

config RTAICFG_RTAI_VERSION
	string
	default "3.1-test4 (vesuvio)"

menu "General"

config RTAICFG_RTAI_INSTALLDIR

default "@BUILDDIR@/rtai-build"

	help
	This option defines the directory where the various RTAI
	files will be installed on your target system.

	This directory may be changed if you double-click in the area
	named "Value". The default installation directory is
	/usr/realtime.

config RTAICFG_RTAI_LINUXDIR

default "@KERNEL_DIR@"

menu "RTAI Documentation"

config RTAICFG_RTAI_DOX_DOC
	bool "Build RTAI Doxygen documentation (HTML)"
	default n
	help
	This option causes the Doxygen-based RTAI documentation to be
	built. This option is intended for people actually writing
	documentation and who want to update the pre-built manuals,
	regular users can just use the latter directly. You will need
	the Doxygen toolsuite for regenerating the documentation.

config RTAICFG_RTAI_DOC_LATEX_NONSTOP
        bool "Enable LaTeX verbose output"
        default n
        help
        By default, all documentation generated with LaTeX uses the 
        silent (batchmode) of LaTeX. If this option is enabled, the 
        verbose (nonstopmode) of LaTeX will be used instead. This 
        option is mainly intended for people writing RTAI 
        documentation.

config RTAICFG_RTAI_DBX_DOC
	bool "Build DocBook XML documentation (HTML/PDF)"
	default n
	help
	This option causes the DocBook XML based RTAI documentation to be
	built. This option is intended for people actually writing
	documentation and who want to update the pre-built manuals,
	regular users can just use the latter directly.

config RTAICFG_RTAI_DBX_NET
        bool "Let the DocBook XML tools use network"
	depends on RTAICFG_RTAI_DBX_DOC
        default n
        help
        Let the DocBook tools use internet to fetch the DTD and XSL stylesheets.
        If disabled, the documentation generation will fail if the necessary 
        DTD(s) and XSL stylesheets can not be found on the local computer.

config RTAICFG_RTAI_DBX_ROOT
        string "Docbook XML root"
	depends on RTAICFG_RTAI_DBX_DOC
        default ""
        help
        Specify the DocBook XML root (that is, the directory where docbook.dtd
        should be taken). Leave blank to let configure try the "well-known"
        locations.

config RTAICFG_RTAI_DBX_XSL_ROOT
        string "Docbook XML XSL stylesheet root"
	depends on RTAICFG_RTAI_DBX_DOC
        default ""
        help
        Specify the DocBook XML XSL root. Leave blank to let configure try the
        "well-known" locations.

endmenu

config RTAICFG_RTAI_TESTSUITE
	bool "Build RTAI testsuite"
	default y
	help
	Once you are done with the building process of RTAI, it may be
	safe to run the testsuite to make sure your RTAI system is
	functional.

config RTAICFG_RTAI_COMPAT
	bool "Enable source compatibility mode"
	default y

config RTAICFG_RTAI_EXTENDED
	bool "Enable extended configuration mode"
	default n

config RTAICFG_RTAI_KMOD_DEBUG
	bool "Enable debug symbols in modules"
	depends on RTAICFG_RTAI_EXTENDED
	default n
	help
	This options adds the -g flag when compiling
	kernel modules.

config RTAICFG_RTAI_USER_DEBUG
	bool "Enable debug symbols in user-space programs"
	depends on RTAICFG_RTAI_EXTENDED
	default n
	help

	This options adds the -g flag when compiling user-space
	programs. LXRT inlining is also implicitely disabled.

config RTAICFG_RTAI_MAINTAINER
	bool "Enable maintainer mode"
	depends on RTAICFG_RTAI_EXTENDED
	default n

config RTAICFG_RTAI_MAINTAINER_AUTOTOOLS
	bool "Enable Autoconf/Automake maintainer mode"
	depends on RTAICFG_RTAI_MAINTAINER
	default n

endmenu

menu "Machine (MIPS)"

config RTAICFG_RTAI_FPU_SUPPORT
	bool
	default n

config RTAICFG_RTAI_CPUS
	string
	default 1

endmenu

menu "Core system"

menu "Schedulers"

config RTAICFG_RTAI_SCHED_UP
	bool "Scheduler for uniprocessor machine (kernel tasks only)"
	default y

config RTAICFG_RTAI_SCHED_SMP
	bool
	default n

config RTAICFG_RTAI_SCHED_MUP
	bool
	default n

config RTAICFG_RTAI_SCHED_LXRT
	bool
	default n

menu "Scheduler options"

	depends on RTAICFG_RTAI_EXTENDED

config RTAICFG_RTAI_SCHED_ISR_LOCK
	bool "Disable rescheduling from ISRs"
	default n

endmenu

endmenu

menu "Basic features"

menu "IPC support"

config RTAICFG_RTAI_BITS
	tristate "Event flags"
	default m

config RTAICFG_RTAI_FIFOS
	tristate "Fifo"
	default m

config RTAICFG_RTAI_NETRPC
	tristate
	default n

config RTAICFG_RTAI_NETRPC_RTNET
	bool "Emulate RTNet"
	depends on RTAICFG_RTAI_NETRPC
	default y

config RTAICFG_RTAI_SHM
	tristate
	default n

config RTAICFG_RTAI_SEM
	tristate "Semaphores"
	default m

config RTAICFG_RTAI_MSG
	tristate "Message"
	default m

config RTAICFG_RTAI_MBX
	tristate "Mailboxes"
	depends on RTAICFG_RTAI_SEM
	default y if RTAICFG_RTAI_SEM=y
	default m if RTAICFG_RTAI_SEM=m

config RTAICFG_RTAI_TBX
	tristate "Typed mailboxes"
	depends on RTAICFG_RTAI_SEM
	default y if RTAICFG_RTAI_SEM=y
	default m if RTAICFG_RTAI_SEM=m

config RTAICFG_RTAI_MQ
	tristate "POSIX-like message queues"
	depends on RTAICFG_RTAI_SEM
	default y if RTAICFG_RTAI_SEM=y
	default m if RTAICFG_RTAI_SEM=m

endmenu

menu "Misc"

config RTAICFG_RTAI_MATH
	bool "Math support"
	depends on RTAICFG_RTAI_FPU_SUPPORT	
	default y

config RTAICFG_RTAI_MATH_C99
	bool "C99 standard support"
	depends on RTAICFG_RTAI_MATH
	default n

config RTAICFG_RTAI_MALLOC
	tristate "Real-time malloc support"
	default y

config RTAICFG_RTAI_MALLOC_VMALLOC
	bool "Use vmalloc() support"
	depends on RTAICFG_RTAI_EXTENDED && RTAICFG_RTAI_MALLOC
	default n

config RTAICFG_RTAI_MALLOC_HEAPSZ
	string "Size of the global heap (Kbytes)"
	depends on RTAICFG_RTAI_MALLOC
	default 128
	help
	RTAI pre-allocates a global heap as part of its initialization
	chores. This parameter allows to define its size (in
	kilobytes).

config RTAICFG_RTAI_TASKLETS
	tristate "Tasklets"
	default m

config RTAICFG_RTAI_TRACE
	bool "LTT support"
	default n

config RTAICFG_RTAI_USI
	tristate "User-space interrupts"
	depends on RTAICFG_RTAI_SEM && RTAICFG_RTAI_TASKLETS
	default y if RTAICFG_RTAI_SEM=y || RTAICFG_RTAI_TASKLETS=y
	default m if RTAICFG_RTAI_SEM=m || RTAICFG_RTAI_TASKLETS=m

config RTAICFG_RTAI_WD
	bool "Watchdog support"
	default y

endmenu

endmenu

endmenu

menu "Add-ons"

config RTAICFG_RTAI_CPLUSPLUS
	bool
	default n

config RTAICFG_RTAI_SERIAL
	bool
	default n

endmenu
