--- lkc-1.4/Makefile	2003-06-01 00:13:30.000000000 +0200
+++ ptxdist-0.7-trunk/scripts/kconfig/Makefile	2005-01-20 11:36:20.987810096 +0100
@@ -4,16 +4,22 @@
 CFLAGS=-O0 -Wall -g -fPIC
 CXXFLAGS=$(CFLAGS) -I$(QTDIR)/include
 LDFLAGS=
-LXXFLAGS=$(LDFLAGS) -L$(QTDIR)/lib -Wl,-rpath,$(QTDIR)/lib
+LXXFLAGS=-L$(QTLIBPATH) -Wl,-rpath,$(QTLIBPATH) -l$(QTLIB) -ldl
 LEX=flex
 LFLAGS=-L
 YACC=bison
 YFLAGS=-l
-#YFLAGS=-t -v -l
+
+ifeq ($(MAKECMDGOALS),qconf)
+	qconf-target := 1
+endif
+ifeq ($(MAKECMDGOALS),gconf)
+	gconf-target := 1
+endif
+
 ifndef QTDIR
 QTDIR=/usr/share/qt3
 endif
-MOC=$(wildcard $(QTDIR)/bin/moc)
 GTKCFLAGS=`pkg-config gtk+-2.0 gmodule-2.0 libglade-2.0 --cflags`
 GTKLDFLAGS=`pkg-config gtk+-2.0 gmodule-2.0 libglade-2.0 --libs`
 
@@ -70,12 +76,6 @@
 			$(gconf_SRC)))))
 OBJ=$(conf_OBJ) $(mconf_OBJ) $(qconf_OBJ)
 
-ifeq ($(MOC),)
-all: conf mconf
-else
-all: conf mconf qconf libkconfig.so
-endif
-
 lkc_deps := lkc.h lkc_proto.h lkc_defs.h expr.h
 
 zconf.tab.c: zconf.y
@@ -90,8 +90,10 @@
 kconfig_load.o: kconfig_load.c $(lkc_deps)
 conf.o: conf.c $(lkc_deps)
 mconf.o: mconf.c $(lkc_deps)
+qconf.o: .tmp_qtcheck
 qconf.moc: qconf.h
 qconf.o: qconf.cc qconf.moc images.c $(lkc_deps)
+gconf.o: .tmp_gtkcheck
 gconf.o: gconf.c $(lkc_deps)
 
 mconf: $(mconf_OBJ)
@@ -100,17 +102,65 @@
 conf: $(conf_OBJ)
 	$(CC) $(LDFLAGS) $^ -o $@
 
-ifeq ($(MOC),)
-qconf:
-	@echo Unable to find the QT installation. Please make sure that the
-	@echo QT development package is correctly installed and the QTDIR
-	@echo environment variable is set to the correct location.
-	@false
-else
-qconf: $(qconf_OBJ)
-	$(CXX) $(LXXFLAGS) $^ -lqt-mt -o $@
+ifeq ($(qconf-target),1)
+MOC = $(QTDIR)/bin/moc
+QTLIBPATH = $(QTDIR)/lib
+-include .tmp_qtcheck
+
+# QT needs some extra effort...
+.tmp_qtcheck:
+	@set -e; for d in $$QTDIR /usr/share/qt* /usr/lib/qt*; do \
+	  if [ -f $$d/include/qconfig.h ]; then DIR=$$d; break; fi; \
+	done; \
+	if [ -z "$$DIR" ]; then \
+	  echo "*"; \
+	  echo "* Unable to find the QT installation. Please make sure that the"; \
+	  echo "* QT development package is correctly installed and the QTDIR"; \
+	  echo "* environment variable is set to the correct location."; \
+	  echo "*"; \
+	  false; \
+	fi; \
+	LIBPATH=$$DIR/lib; LIB=qt; \
+	$(CXX) -print-multi-os-directory > /dev/null 2>&1 && \
+	  LIBPATH=$$DIR/lib/$$($(CXX) -print-multi-os-directory); \
+	if [ -f $$LIBPATH/libqt-mt.so ]; then LIB=qt-mt; fi; \
+	echo "QTDIR=$$DIR" > $@; echo "QTLIBPATH=$$LIBPATH" >> $@; \
+	echo "QTLIB=$$LIB" >> $@; \
+	if [ ! -x $$DIR/bin/moc -a -x /usr/bin/moc ]; then \
+	  echo "*"; \
+	  echo "* Unable to find $$DIR/bin/moc, using /usr/bin/moc instead."; \
+	  echo "*"; \
+	  echo "MOC=/usr/bin/moc" >> $@; \
+	fi
 endif
 
+ifeq ($(gconf-target),1)
+-include .tmp_gtkcheck
+
+# GTK needs some extra effort, too...
+.tmp_gtkcheck:
+	@if `pkg-config gtk+-2.0 gmodule-2.0 libglade-2.0 --exists`; then		\
+		if `pkg-config gtk+-2.0 --atleast-version=2.0.0`; then			\
+			touch $@;								\
+		else									\
+			echo "*"; 							\
+			echo "* GTK+ is present but version >= 2.0.0 is required.";	\
+			echo "*";							\
+			false;								\
+		fi									\
+	else										\
+		echo "*"; 								\
+		echo "* Unable to find the GTK+ installation. Please make sure that"; 	\
+		echo "* the GTK+ 2.0 development package is correctly installed..."; 	\
+		echo "* You need gtk+-2.0, glib-2.0 and libglade-2.0."; 		\
+		echo "*"; 								\
+		false;									\
+	fi
+endif
+
+qconf: $(qconf_OBJ)
+	$(CXX) $(LXXFLAGS) $^ -o $@
+
 gconf.o: gconf.c
 	$(CC) $(CFLAGS) $(GTKCFLAGS) -c $< -o $@
 
@@ -125,6 +175,8 @@
 
 clean:
 	rm -f $(OBJ) conf qconf mconf *.moc lex.* *.tab.? *.output
+	rm -f libkconfig.so lkc_defs.h gconf
+	rm -f .tmp_qtcheck .tmp_gtkcheck
 	rm -rf .ruby .python
 
 tgz:
@@ -141,7 +193,7 @@
 	$(LEX) $(LFLAGS) -P$* $<
 
 %.moc: %.h
-	$(QTDIR)/bin/moc -i $< -o $@
+	$(MOC) -i $< -o $@
 
 %.o: %.c
 	$(CC) $(CFLAGS) -c $< -o $@
