#
# config/Kconfig: Main menu structure definition
# Copyright (C) Robert Schwebel <r.schwebel@pengutronix.de> 2002, 2003, 2004
#

mainmenu "Configuration"

# We need this: otherwhise kconfig doesn't handle tristate entries!!
config MODULES
        bool
        default y

config PTXCONF
	bool
	default y
	help
	  This is the Pengutronix Distribution Build System.

comment "----------------------------------"

# Deprecation Process:
#
# PTXdist will only build userland in the future, as it is now possible
# to build toolchains using a separate PTXdist project. We leave this
# code here until we've checked that the crosstool project works.

#choice
#	prompt "Build...        "
#	default BUILD_USERLAND
#	help
#	  Select here what you want to build today. See specific help in the submenu.
#
	config BUILD_USERLAND
		bool
		default y
#		prompt "Userland "
#		help
#		  Select this menu if you want to build your userland programs, e.g.
#		  applications, shells etc. This requires a ready-to-use toolchain
#		  (compiler, assembler, linker and the base runtime environment)
#
#	config BUILD_TOOLCHAIN
#		bool
#		prompt "Toolchain"
#		help
#		  Select this menu if you want to build a toolchain and the base runtime
#		  environment. This is the opposite of building "Userland". Building
#		  userland application requires this step first.
#
#endchoice

menu "Project Name & Version      "

config PROJECT
	string
	prompt "Project Name        "
	help
	  Name of this project; each PTXdist "Project" specifies a unique
	  configuration for an embedded Linux project.

	  Usually you don't have to set this config option; change it
	  only if you want to have some non-default name.

endmenu

source "rules/Kconfig"
