[Unit]
Description=Cron Daemon
After=syslog.service

[Service]
Type=forking
ExecStart=/usr/sbin/crond -b
Restart=always

[Install]
WantedBy=multi-user.target
