[Unit]
Description=urshd Server
After=syslog.target
ConditionKernelCommandLine=ptxdist-devel

[Service]
ExecStart=/usr/bin/urshd -D

[Install]
WantedBy=multi-user.target
