#
# config/Kconfig: Main menu structure definition
# Copyright (C) Robert Schwebel <r.schwebel@pengutronix.de> 2002-2008
#

source "generated/ptxdist_version.in"

config _ptxconfig_MAGIC__
	bool
	default y

comment "--------- Host Options -------------"

menu "PTXdist Options               "
source "generated/ptxdist_options.in"
endmenu

menu "Host Tools                    "
source "generated/hosttools.in"
source "generated/hosttools_noprompt.in"
endmenu

menu "Cross Tools                   "
source "generated/crosstools.in"
endmenu

menu "Debug Tools                   "
source "generated/debug_tools.in"
endmenu

comment "------------------------------------"

menu "Root Filesystem               "
source "generated/rootfs.in"
endmenu

menu "Core (libc, locales)          "
source "generated/core.in"
endmenu

comment "------------------------------------"

menu "Shell & Console Tools         "
source "generated/shell_and_console.in"
endmenu

menu "Scripting Languages           "
source "generated/scripting_languages.in"
endmenu

menu "Bytecode Engines / VMs        "
source "generated/bytecode_engines.in"
endmenu

menu "Networking Tools              "
source "generated/networking.in"
endmenu

menu "Disk and File Utilities       "
source "generated/disk_and_file.in"
endmenu

menu "Communication Utilities       "
source "generated/communication.in"
endmenu

menu "Applications                  "
source "generated/applications.in"
endmenu

menu "Editors                       "
source "generated/editors.in"
endmenu

menu "System Libraries              "
source "generated/system_libraries.in"
endmenu

menu "Middleware                    "
source "generated/middleware.in"
endmenu

menu "Scientific Apps               "
source "generated/scientific.in"
endmenu

menu "Web Applications              "
source "generated/web.in"
endmenu

menu "Test Suites                   "
source "generated/test_suites.in"
endmenu

menu "Development Tools             "
source "generated/development.in"
endmenu

menu "Games                         "
source "generated/games.in"
endmenu

# ----------------------------------------------------------------------------

menu "Graphics & Multimedia         "

menu "directfb & friends            "
source "generated/multimedia_directfb.in"
endmenu

menuconfig MENU_XORG_FONTS
	bool
	prompt "fonts                         "
	select XORG_LIB_XFONT_PCF_FONTS if XORG_SERVER
	default y if XORG_SERVER
	help
	  These fonts can be used with an x-server, standalone directfb or
	  gtk ontop of directfb.

if MENU_XORG_FONTS

config XORG_FONTS
	depends on MENU_XORG_FONTS
	bool
	select XORG_FONT_UTIL
	select XORG_FONT_ALIAS
	select HOST_XORG_APP_MKFONTDIR
	select HOST_XORG_APP_MKFONTSCALE
	select HOST_XORG_APP_BDFTOPCF
	select HOST_XORG_FONT_UTIL

source "generated/multimedia_xorg_font.in"
endif

source "generated/multimedia_fltk.in"

menu "framebuffer                   "
source "generated/multimedia_framebuffer.in"
endmenu

menu "gstreamer                     "
source "generated/multimedia_gstreamer.in"
endmenu

menu "gtk+ & friends                "
source "generated/multimedia_gtk.in"
#comment "engines & themes"
#source "generated/multimedia_gtk_themes.in"
endmenu

source "generated/multimedia_mplayer.in"

menu "qt                            "
source "generated/qt.in"
endmenu

menu "sdl                           "
source "generated/multimedia_sdl.in"
endmenu

menu "sound                         "
source "generated/multimedia_sound.in"
endmenu

source "generated/multimedia_tk.in"

menu "tools                         "
source "generated/multimedia_tools.in"
endmenu

source "generated/multimedia_tslib.in"

menu "xiph codecs                   "
source "generated/multimedia_xiph.in"
endmenu

menuconfig XORG
	bool
	prompt "xorg                          "
	help
	  Enable this entry if you want the whole world of X.

if XORG
source "generated/multimedia_xorg.in"
endif

menu "xorg applications             "
source "generated/x_apps.in"
endmenu

menu "xorg window managers          "
source "generated/x_windowmanagers.in"
endmenu

source "generated/multimedia_wxwidgets.in"

endmenu

