#
# Kconfig: Main menu structure definition
# Copyright (C) Juergen Beisert <j.beisert@pengutronix.de> 2008
#

# first of all include toplevel Kconfig file as default

source "config/Kconfig"

# Note: This is for ptxdist-1 backward compatibility:
#
# TODO: add any additional menu below this line.
# use the "workspace" keyword to start the path always in
# the active project. Examples:
#
# -> "workspace/rules/my_extension.in" uses "rules/my_extension.in"
#    in the active project.
# -> "rules/my_extension.in" uses "rules/my_extension.in" in
#    PtxDist's installation directory.
# -> "/path/to/a/file/my_extension.in" uses this file at its
#    absolute path.
#

# Note: This is the new ptxdist-2 mechanism:
#
# Create your *.in files and mark them in their header with a line like this:
#
# "## SECTION=project_specific"
#
# After that include this menu or menues with the following line:
#
# source "generated/project_specific.in"
#
# The SECTION name and the included file name here must be correspond.
# You can use as many SECTIONs as you like, to add more than one local sub
# menu.
#
# You can beautify the menu, when you are using:
#
# menu "Project Specific Menu         "
# source "generated/project_specific.in"
# endmenu
#
